<section class="container" id="about">
  <div class="section">
    <div class="about">
      <div class="section-title-container">
        <svg
          class="section-title-icon"
          width="92"
          height="92"
          aria-label="icon-medical-symbol"
        >
          <use href="/img/sprite.svg#icon-medical-symbol"></use>
        </svg>
        <h2 class="section-title">Про нас</h2>
      </div>

      <div class="about-description">
        <div class="about-description-container">
          <div class="about-description-text-container">
            <h3 class="about-description-title">Klinika</h3>
            <div class="about-description-paragraph-container">
              <p class="about-description-text">
                Це не просто чергова клініка, це місце, де лікарі люблять свою
                роботу та поважають людей, не зважаючи на їх фінансове положення
                та статус.
              </p>
              <p class="about-description-text">
                В нашій клініці ми готові надавати допомогу кожному, хто її
                потребує. На першому місці для нас не фінансова складова, а
                насамперед людяність, бажання допомогти та відкрите серце до
                кожного нашого пацієнта.
              </p>
              <p class="about-description-text">
                Кожному ми приділяєм увагу та максимум зусиль, знань та вмінь,
                щоб допомогти, оскільки знаєм, що кожен пацієнт очікує, щоб його
                почули, зрозуміли та допомогли.
              </p>
              <p class="about-description-text">
                Ми використовуємо сучасні методи лікування та сучасне обладнання
                для лікування наших пацієнтів. Наш приорітет - це швидке
                позбавлення болю та відновлення нормального життя для наших
                пацієнтів.
              </p>
              <p class="about-description-text">
                Тож, якщо вам необхідна консультація, та якісне лікування,
                звертайтеся в клініку Tendo.
              </p>
            </div>
          </div>

          <img
            class="about-img"
            src="/img/41518262.jpg"
            alt="Klinika"
            width="500"
            height="600"
          />
        </div>
      </div>
    </div>
  </div>
</section>
