<section class="contacts" id="contacts">
  <iframe
    class="contacts-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1287.779998666587!2d30.116980991402027!3d49.79433882789608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cba1fef08f35%3A0x8603d1c6b7aaf241!2z0JzQtdC00LjRh9C90LjQuSDRhtC10L3RgtGAINC_0L4g0LvRltC60YPQstCw0L3QvdGOINGB0L_QuNC90Lgg0YLQsCDRgdGD0LPQu9C-0LHRltCyIFRlbmRvLiDQntGA0YLQvtC_0LXQtC3RgtGA0LDQstC80LDRgtC-0LvQvtCzLiDQpdGW0YDRg9GA0LMuINCg0LXQsNCx0ZbQu9GW0YLQsNGG0ZbRjw!5e0!3m2!1suk!2sua!4v1727435923373!5m2!1suk!2sua"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
  ></iframe>

  <div class="contacts-big-container">
    <div class="contacts-container">
      <div class="contacts-mini-container">
        <h3 class="contacts-title">Ми працюємо:</h3>
        <p class="contacts-text">ПН-СБ: з 9:00 до 21:00</p>
        <p class="contacts-text">НД: - Вихідний</p>
      </div>

      <div class="contacts-mini-container">
        <h3 class="contacts-title">Адреса:</h3>
        <p class="contacts-text">м. Біла Церква</p>
        <p class="contacts-text">вул. Шевченка 9</p>
      </div>

      <div class="contacts-mini-container">
        <h3 class="contacts-title">Телефон:</h3>
        <a class="contacts-link" href="tel:+380630000000"
          >+38 (063) 000 00 00</a
        >
      </div>

      <a class="contacts-mini-container" href="">
        <h3 class="contacts-title">Instagram:</h3>
        <svg
          class="contacts-svg"
          class="svg"
          width="32"
          height="32"
          aria-label="instagram"
        >
          <use href="/img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
