<section class="slider" id="doctors">
  <div class="slider-section">
    <div class="section-title-container">
      <svg
        class="section-title-icon"
        width="92"
        height="92"
        aria-label="icon-doctors"
      >
        <use href="../img/sprite.svg#icon-doctors"></use>
      </svg>
      <h2 class="section-title">Спеціалісти</h2>
    </div>
  </div>

  <div class="slide">
    <div class="slide-content">
      <div class="slide-content-titles">
        <h3 class="slide-content-title-1">Терещенко Максим Станіславович</h3>
        <h4 class="slide-content-title-2">Фізичний терапевт / Кінезіолог</h4>
      </div>

      <ul class="slide-content-list">
        <li class="slide-content-item">
          <h5 class="slide-content-title">Освіта:</h5>
          <ul class="slide-content-item-list">
            <li class="slide-content-item-list-item">
              2019 - 2023: Київський університет фізичної культури та спорту
            </li>
          </ul>
        </li>
        <li class="slide-content-item">
          <h5 class="slide-content-title">Досвід роботи:</h5>
          <ul class="slide-content-item-list">
            <li class="slide-content-item-list-item">
              2021 - по теперішній час: Медичний центр Tendo (м.Біла Церква)
            </li>
          </ul>
        </li>
        <li class="slide-content-item">
          <h5 class="slide-content-title">Курси та конференції:</h5>
          <ul class="slide-content-item-list">
            <li class="slide-content-item-list-item">
              2021: Certificate "HEADACHE AND DIZZINESS IN THE PRACTICE OF A
              PHYSICAL THERAPIST" (Ukrainian academy of rehabilitation and human
              health);
            </li>
            <li class="slide-content-item-list-item">
              2021: Сертифікат "УЗД та УЗ навігація в ортопедії" (Українська
              медична академія);
            </li>
            <li class="slide-content-item-list-item">
              2021: Сертифікат "Надання домедичної допомоги пораненим
              (травмованим) військовослужбовцям в умовах ведення бойових дій"
              (Українська військово-медична академія);
            </li>
            <li class="slide-content-item-list-item">
              2021: Сертифікат "Суперіндуктивна терапія/Високоінтенсивна
              лазеротерапія" (BTL-UKRAINE);
            </li>
            <li class="slide-content-item-list-item">
              2021: Сертифікат "Ударно-хвильова терапія/ ТР-терапія"
              (BTL-UKRAINE);
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <img
      src="../img/max.jpg"
      alt="Terechenko Maxim"
      width="460"
      height="500"
      class="slide-image"
    />
  </div>

  <div class="slide">
    <div class="slide-content">
      <div class="slide-content-titles">
        <h3 class="slide-content-title-1">Терещенко Максим Станіславович</h3>
        <h4 class="slide-content-title-2">Фізичний терапевт / Ерготерапевт</h4>
      </div>

      <ul class="slide-content-list">
        <li class="slide-content-item">
          <h5 class="slide-content-title">Освіта:</h5>
          <ul class="slide-content-item-list">
            <li class="slide-content-item-list-item">
              2019 - 2023: Національний університет фізичного виховання та
              спорту України
            </li>
          </ul>
        </li>
        <li class="slide-content-item">
          <h5 class="slide-content-title">Досвід роботи:</h5>
          <ul class="slide-content-item-list">
            <li class="slide-content-item-list-item">
              2021 - 2024: Медичний центр Tendo (м.Біла Церква)
            </li>
          </ul>
        </li>
        <li class="slide-content-item">
          <h5 class="slide-content-title">Курси та конференції:</h5>
          <ul class="slide-content-item-list">
            <li class="slide-content-item-list-item">
              2021: Certificate "HEADACHE AND DIZZINESS IN THE PRACTICE OF A
              PHYSICAL THERAPIST" (Ukrainian academy of rehabilitation and human
              health);
            </li>
            <li class="slide-content-item-list-item">
              2021: Сертифікат "Ударно-хвильова терапія / ТР-терапія"
              (BTL-UKRAINE);
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <img
      src="../img/max.jpg"
      alt="Terechenko Maxim"
      width="460"
      height="500"
      class="slide-image"
    />
  </div>

  <button type="button" class="prev">&#10094;</button>
  <button type="button" class="next">&#10095;</button>
</section>
