<section class="container" id="services">
  <div class="section">
    <div class="section-title-container">
      <svg
        class="section-title-icon"
        width="92"
        height="92"
        aria-label="icon-services"
      >
        <use href="/img/sprite.svg#icon-services"></use>
      </svg>
      <h2 class="section-title">Що вас турбує?</h2>
    </div>

    <ul class="services-list">
      <li class="services-item">
        <button class="services-btn">
          <svg
            class="services-svg"
            width="92"
            height="92"
            aria-label="icon-traumatology"
          >
            <use href="/img/sprite.svg#icon-traumatology"></use>
          </svg>
          <h3 class="services-title">Травматологія</h3>
        </button>
      </li>
      <li class="services-item">
        <button class="services-btn">
          <svg
            class="services-svg"
            width="92"
            height="92"
            aria-label="icon-neurology"
          >
            <use href="/img/sprite.svg#icon-neurology"></use>
          </svg>
          <h3 class="services-title">Неврологія</h3>
        </button>
      </li>
      <li class="services-item">
        <button class="services-btn">
          <svg
            class="services-svg"
            width="92"
            height="92"
            aria-label="icon-orthopedic"
          >
            <use href="/img/sprite.svg#icon-orthopedic"></use>
          </svg>
          <h3 class="services-title">Вертебрологія</h3>
        </button>
      </li>
    </ul>

    <button class="back-to-services" style="display: none">Назад</button>

    <ul class="diseases-list" id="diseases-list" style="display: none"></ul>
  </div>
</section>
