<section class="section services" id="services">
  <div class="container">
    <div class="section-title-container">
      <img
        src="../img/titles/services.png"
        width="92"
        height="92"
        alt="stages"
      />
      <h2 class="section-title">Послуги</h2>
    </div>

    <ul class="services-list">
      <li class="services-item">
        <button class="services-btn">
          <img
            src="../img/services/traumatology.png"
            alt="traumatology"
            width="92"
            height="92"
          />
          <h3 class="services-title">Ортопедія - травматологія</h3>
        </button>
      </li>
      <li class="services-item">
        <button class="services-btn">
          <img
            src="../img/services/neurology.png"
            alt="neurology"
            width="92"
            height="92"
          />
          <h3 class="services-title">Неврологія</h3>
        </button>
      </li>
      <li class="services-item">
        <button class="services-btn">
          <img
            src=" ../img/services/physiotherapy.png"
            alt="rehabilitation"
            width="92"
            height="92"
          />
          <h3 class="services-title">Реабілітація</h3>
        </button>
      </li>
      <li class="services-item">
        <button class="services-btn">
          <img
            src="../img/services/orthopedic.png"
            alt="vertebrology"
            width="92"
            height="92"
          />
          <h3 class="services-title">Вертебрологія</h3>
        </button>
      </li>
    </ul>

    <ul class="diseases-list" id="diseases-list" style="display: none"></ul>

    <button class="back-to-services" style="display: none">
      Повернутися до послуг
    </button>
  </div>
</section>
