<section class="section stages">
  <div class="container">
    <div class="section-title-container">
      <img src="../img/titles/stages.png" width="92" height="92" alt="stages" />
      <h2 class="section-title">Етапи лікування</h2>
    </div>

    <ul class="stages-list">
      <li class="stages-item">
        <div class="stages-item-container">
          <h3 class="stages-item-title">Консультація</h3>
          <p class="stages-item-text">
            Проведення консультації та визначення тактики лікування, можливе
            признаячення діагностичних обстежень
          </p>
        </div>

        <svg class="svg" width="40" height="40" aria-label="icon-arrow-right">
          <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </li>
      <li class="stages-item">
        <div class="stages-item-container">
          <h3 class="stages-item-title">Лікування</h3>
          <p class="stages-item-text">
            Процес медикаментозного та фізіотерапевтичного лікування в клініці
            під постійним контролем лікарів
          </p>
        </div>

        <svg class="svg" width="40" height="40" aria-label="icon-arrow-right">
          <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </li>
      <li class="stages-item">
        <div class="stages-item-container">
          <h3 class="stages-item-title">Постійний моніторинг спеціалістів</h3>
          <p class="stages-item-text">
            Безперервний супровід і відстеження динаміки протягом лікування
          </p>
        </div>

        <svg class="svg" width="40" height="40" aria-label="icon-arrow-right">
          <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </li>
      <li class="stages-item">
        <div class="stages-item-container">
          <h3 class="stages-item-title">Рекомендації після лікування</h3>
          <p class="stages-item-text">
            Безкоштовний огляд після лікування та подальші рекомендації для
            пацієнта
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
